.DS_Store
.atom/
.dart_tool/
.idea
.packages
.pub/
build/
ios/.generated/
ios/Flutter/flutter_export_environment.sh
packages
pubspec.lock
.flutter-plugins
.flutter-plugins-dependencies
key.jks
android/app/google-services.json
android/key.properties
*.iml
